<%= form_tag sessions_path do %>
<div class="jumbotron vertical-center">
    <div class="container">
      <div class="row">

          <h1 id="mainTitle">Welcome to EMS-PSS</h1>

          <!-- Login Form -->
          <div class="loginHeader">
              <p>Login Account</p>
          </div>

          <form role="form">
              <div class="form-group">
                <%= label_tag :name %><br>
                <%= text_field_tag :name, '',class: 'form-control', placeholder: 'User Name' %>
              </div>
              <div class="form-group">
                  <%= label_tag :password %><br>
                  <%= password_field_tag :password, '', class:'form-control',placeholder: 'Password' %>
              </div>
              <%= submit_tag "Log In", class: "btn btn-default" %>
              <!-- <p style="display:inline">*Username or password was typed in incorrectly!</p> -->
          </form>
      </div> <!-- End of login row -->
  </div>


</div>

<% end %>
