<h1>Listing Full Time Employees</h1>

<table>
  <thead>
    <tr>
      <th>Company Name</th>

      <th>Last Name</th>
      <th>First Name</th>

      <th>Dateofhire</th>
      <% if isAdmin %>
        <th>Dateoftermination</th>
        <th>Salary</th>
      <% end %>
      <th>Complete</th>
      <th>Time Card</th>
      <th colspan="3"></th>


    </tr>
  </thead>

  <tbody>
    <% @full_time_employees.each do |full_time_employee| %>
      <tr>
        <td><%= full_time_employee.employee.company.name %></td>

        <td><%= full_time_employee.employee.lastName %></td>
        <td><%= full_time_employee.employee.firstName %></td>

        <td><%= full_time_employee.dateOfHire %></td>
        <% if isAdmin %>
          <td><%= full_time_employee.dateofTermination %></td>
          <td><%= full_time_employee.salary %></td>
        <% end %>
        <td><input type="checkbox" disabled <%= full_time_employee.verified ? 'checked': '' %>></td>
        <td><%= link_to 'Time card', :controller => :time_cards, :action => :index, :id => full_time_employee.employee.id %></td>
        <td><%= link_to 'Show', full_time_employee %></td>
        <td><%= link_to 'Edit', edit_full_time_employee_path(full_time_employee) %></td>
        <td><%= link_to 'Destroy', full_time_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Full time employee', new_full_time_employee_path %>
