<%= form_for(@contract_employee) do |f| %>
  <% if @contract_employee.errors.any? || @employee.errors.any?%>
    <div id="error_explanation">
      <h2><%= pluralize(@contract_employee.errors.count + @employee.errors.count, "error") %> prohibited this contract_employee from being saved:</h2>

      <ul>
      <% @contract_employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for(@employee) do |u| %>
      <div class="field">
        <%= u.label :lastName %><br>
        <%= u.text_field :lastName %>
        <% @employee.errors[:lastName].each do |e|%>
            <%= e%>
        <% end %>
      </div>
      <div class="field">
        <%= u.label :firstName %><br>
        <%= u.text_field :firstName %>
        <% @employee.errors[:firstName].each do |e|%>
            <%= e%>
        <% end %>
      </div>
      <div class="field">
        <%= u.label :sin %><br>
        <%= u.text_field :sin %>
        <% @employee.errors[:sin].each do |e|%>
            <%= e%>
        <% end %>
      </div>
      <div class="field">
        <%= u.label :dateOfBirth %><br>
        <%= u.date_select :dateOfBirth %>
        <% @employee.errors[:dateOfBirth].each do |e|%>
            <%= e%>
        <% end %>
      </div>
      <div class="field">
        <%= u.label :reasonForLeaving %><br>
        <%= u.text_area :reasonForLeaving %>
        <% @employee.errors[:reasonForLeaving].each do |e|%>
            <%= e%>
        <% end %>
      </div>
      <div class="field">
        <%= u.label :company_id %><br>
        <%= collection_select(:employee, :company_id, Company.all, :id, :name) %>
        <% @employee.errors[:company_id].each do |e|%>
            <%= e%>
        <% end %>
      </div>
   <% end %>

  <div class="field">
    <%= f.label :contractStartDate %><br>
    <%= f.date_select :contractStartDate %>
  </div>
  <div class="field">
    <%= f.label :contractStopDate %><br>
    <%= f.date_select :contractStopDate, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :fixedContractAmount %><br>
    <%= f.text_field :fixedContractAmount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
